{% extends 'base.html.twig' %}

{% block title %}Connexion - Blog Bootstrap
{% endblock %}

{% block body %}
	<body class="forms-body">

		<div class="shadow">
			<div class="d-flex flex-column form-div" id="signin-div">
				<form method="post" class="w-50 d-flex flex-column justify-content-center rounded-3">
					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ logout_path() }}">Logout</a>
						</div>
					{% endif %}

					<h1 class="mb-5 text-center text-light fw-medium">Connexion</h1>

					<div class="mb-4">
						<label for="username" class="form-label text-light">Adresse mail</label>
						<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
					</div>

					<div class="mb-4">
						<label for="password" class="form-label text-light">Password</label>
						<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
					</div>

					<input
					type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

					{#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html
                    
					    <div class="checkbox mb-3">
						    <input type="checkbox" name="_remember_me" id="_remember_me">
						    <label for="_remember_me">Remember me</label>
					    </div>
					 #}
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<button class="btn align-self-start mt-5 w-50 m-auto text-light bg-dark" type="submit">
						Se connecter
					</button>
				</form>

				<p class="text-center mt-4 text-light">Vous n'avez pas de compte ?
					<a href="{{ path('app_register') }}">Inscrivez-vous.</a>
				</p>
			</div>
		</div>
	</body>
{% endblock %}