{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication - Blog Bootstrap
{% endblock %}

{# Bloc vide : empêche le chargement du header présent dans "base.html.twig" #}
{% block header %}{% endblock %}

{% block body %}
	<body class="forms-body">
		<div class="shadow">

			<div class="d-flex flex-column form-div" id="create-post-div">
				{{ form_start(createPostForm, { 'attr': {'class': 'w-50 d-flex flex-column justify-content-center rounded-3'} }) }}
				<h1 class="mb-5 text-center text-light">Créer une nouvelle publication</h1>

				{{ form_row(createPostForm.title) }}
				{{ form_row(createPostForm.content) }}
				{{ form_row(createPostForm.category) }}
				{{ form_row(createPostForm.image_name) }}
				{{ form_row(createPostForm.created_at) }}

				{{ form_errors(createPostForm, { 'attr': {'class': 'error-msg'} }) }}

				{{ form_end(createPostForm) }}
			</div>
		</div>
	</body>
{% endblock %}

{# Bloc vide : empêche le chargement du footer présent dans "base.html.twig" #}
{% block footer %}{% endblock %}
