{% extends 'base.html.twig' %}

{% block title %}Accueil - Blog Bootstrap
{% endblock %}

{% block body %}
	{% block main %}
		{# <MAIN> #}
		<main
			class="container">
			{# <NAV> (catégories) #}
			<nav
				class="border-bottom">
				{# Récupère toutes les catégories dans la BDD #}
				<ol class="list-unstyled d-flex align-items-center justify-content-between flex-wrap my-2">
					{% for category in categories %}
						<li id="#" class="mx-3 my-2">{{ category.name }}</li>
					{% endfor %}
				</ol>
			</nav>
			{# FIN <NAV> (catégories) #}

			{# SECTION (contient tous les posts) #}
			<section class="row my-5 d-flex">
				{# ARTICLE (conteneur parent de l'un des posts) #}
				{% for post in posts %}
					<article class="col-md-6 d-flex post-article" id="{{ post.id }}">
						{# DIV (conteneur enfant du post) #}
						<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative post-div">
							{# DIV (contenu du post) #}
							<div class="col-8 p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success-emphasis"><span class="me-2 rounded-circle" style="background-color: {{ post.category.color }}; color: {{ post.category.color }}; border: 2px solid {{post.category.color}};">Ok</span>{{ post.category.name }}</strong>
								<h3 class="mb-3">{{ post.title }}</h3>
								<div class="mb-3 text-body-secondary">{{ post.createdAt | date("d/m/y") }}</div>
								<p class="mb-auto post-content">{{ post.content }}</p>
								<a href="{{ path('post_show', {id: post.id}) }}" class="mt-3">Lire la suite</a>
							</div>
							<aside class="col-4 d-lg-flex d-inline-block post-image" style="background-image:url('{{ asset('uploads/images/' ~ post.imageName) }}')" alt="{{ post.imageName }}"></aside>
							{# FIN DIV (contenu du post) #}
						</div>
						{# FIN DIV (conteneur enfant du post) #}
					</article>
				{% endfor %}
				{# FIN ARTICLE #}
			</section>
			{# FIN SECTION #}
		</main>
		{# FIN <MAIN> #}
	{% endblock %}
{% endblock %}