{% extends 'base.html.twig' %}

{% block title %}Votre profil - Blog Bootstrap
{% endblock %}

{% block body %}
	{# Début MAIN #}
	{# La classe container permet de créer un conteneur responsive #}
	<main class="container m-auto">
		<div class="banner" style="background-image: url('/assets/imgs/profile/placeholder-picture.png')"></div>
		<div class="d-flex flex-row justify-content-between mt-2" id="profile-div">
			<ul class="list-unstyled d-flex flex-row justify-content-center justify-content-between" id="profile-nav">
				<li>
					{# Voir si je peux définir plusieurs dossier d'upload d'image et si je peux mettre une condition, exemple :
					si le fichier provient d'une publication portant la catégorie "World", je vais stocker son image dans un
					dossier nommé "world", si c'est une photo de profil, je vais le stocker dans un dossier "profilePictures"... #}
					<figure><img src="/assets/imgs/profile/default-pfp.png" alt="Default profile picture" class="w-100 rounded-circle"></figure>
					{# <div class="rounded-circle" style="background-image: url('/assets/imgs/profile/default-pfp.png')"></div> #}
				</li>
				{% if not is_granted("ROLE_USER") %}
					<li class="fs-4 align-items-center username-profile">Nom d'utilisateur</li>
				{% else %}
					<li class="fs-4 align-items-center username-profile">{{ app.user.username }}</li>
				{% endif %}
			</ul>
			<div class="d-flex flex-row align-items-center" id="settings-link">
				<a class="btn btn-sm btn-outline-secondary" href="{{ path('user_settings') }}">
					<i class="fa-solid fa-gear"></i>Paramètres du profil</a>
				{# <a href="{{ path('app_logout') }}" class="ms-3 btn btn-outline-danger text-decoration-none" id="logout">
																	<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter</a> #}
				{# <li class="btn btn-sm btn-outline-secondary mt-2 subscribe-btn">S'abonner</li> #}
			</div>
		</div>
		<div class="d-flex justify-content-center align-items-center mt-5 mb-5 profile-btn" id="posts-btn">
			<a href="{{ path('post_create') }}" class="me-4 btn btn-outline-success">
				<i class="fa-solid fa-plus"></i>Créer un nouveau post</a>
		</div>

		{# SECTION (contient tous les posts) #}
		{#
		La classe .row crée une ligne dans un système de grille (Grid)
		
		- Les éléments portant la classe .col sont des cases dans une ligne
		- La classe .row ajoute également les propriétés "display: flex" et "flex-wrap: wrap" afin que les enfants soient
		alignés horizontalement et passent à la ligne si besoin, ainsi que des espacements (gutter) pour que les colonnes (.col)
		soient espacées proprement.

		Attention : un conteneur portant la classe ".row" doit contenir uniquement des éléments portant la classe ".col"
 		#}
		<section class="row justify-content-center mb-2">
			<h1 class="my-3">Vos publications</h1>
			{% for post in posts %}
				{# ARTICLE (conteneur parent de l'un des posts) #}
				<article class="col-md-6 d-flex post-article mt-5" id="{{ post.id }}">
					{# DIV (conteneur enfant du post) #}
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative post-div">
						{# DIV (contenu du post) #}
						<div class="col-8 p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2">
								<span class="me-1 rounded-circle" style="background-color: {{ post.category.color }}; color: {{ post.category.color }}; border: 2px solid {{post.category.color}};">Ok</span>
								{{ post.category.name }}</strong>
							<h3 class="mb-3">{{ post.title }}</h3>
							<div class="mb-3 text-body-secondary">{{ post.createdAt | date("d/m/y") }}</div>
							<p class="mb-auto post-content">{{ post.content }}</p>
							<a href="{{ path('post_show', {id: post.id}) }}" class="mt-3">Lire la suite</a>
						</div>
						<aside class="col-4 d-lg-flex d-inline-block post-image" style="background-image:url('{{ asset('uploads/images/' ~ post.imageName) }}')" alt="{{ post.imageName }}"></aside>
						{# FIN DIV (contenu du post) #}

						{# Post-actions (lien et bouton d'action) #}
						<section class="d-flex align-items-center justify-content-center border-top post-actions">
							<a href="{{ path('post_update', {id: post.id}) }}" class="btn btn-outline-success my-3">
								<i class="fa-solid fa-pen me-2"></i>Modifier</a>
							<form action="{{ path('post_delete', {id: post.id}) }}" method="post">
								<input type="hidden" name="token" value="{{ csrf_token('delete-post') }}">
								<button class="ms-3 btn btn-outline-danger">
									<i class="fa-solid fa-ban me-2"></i>Supprimer</button>
							</form>
						</section>
						{# Fin Post-actions (boutons d'action) #}
					</div>
					{# FIN DIV (conteneur enfant du post) #}
				</article>
			{% endfor %}
			<p class="text-center my-5 fs-5">{{ message }}</p>
		</section>
		{# FIN SECTION #}
	</main>
	{# FIN MAIN #}
{% endblock %}
